@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family:'Noto Sans Mono';
}

.transparent{
    background-color: rgba(0, 0, 0, .5);
}

.margin{
    margin-right: 3rem;
}

.margin-top{
    margin-top: 3rem;
}

.hw{
    height: 10rem;
    width: 10rem;
}

.image-rooms{
    background-image: url('./components/images/paisaje.jpg');
}

.radius{
    border-radius: 5rem;
}

.chat{
    height: 50rem;
}

.margin-negative{
    margin-top: -8rem
}

.margin-chat{
    margin-top: 5rem;
}

.margin-auth{
    margin-top: 10rem
}

.no-scroll{
    overflow-x: hidden;
}

.margin-top{
    margin-top: 10rem;
}

.particles-bg-canvas-self{
    position: fixed !important;
}

.image-card{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    object-fit: cover;
}

.image-list{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    object-fit: cover;
}

.list-group-item{
    border: none ;
}

.color-btn{
    background-color: #6b005f;
    border: 3px solid rgba(0, 0, 0, .5);
    box-shadow: none;
}

.margin-top-2{
    margin-top: 30rem;
}

.color-btn-2{
    background-color: #9db4e4;
    border: 3px solid rgba(0, 0, 0, .5);
    box-shadow: none;
}

.StripeElement{
    background-color: #9db4e4;
    padding: 1rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

.aws-btn {

--button-default-height: 58px;
--button-default-font-size: 21px;
--button-default-border-radius: 25px;
--button-horizontal-padding: 45px;
--button-raise-level: 9px;
--button-hover-pressure: 3;
--transform-speed: 0.185s;
--button-primary-color: #9db4e4;
--button-primary-color-dark: #2a3143;
--button-primary-color-light: #d4d9e4;
--button-primary-color-hover: #424e6a;
--button-primary-border: 0px solid #FFFFFF;
--button-secondary-color: #c264df;
--button-secondary-color-dark: #6b005f;
--button-secondary-color-light: #e8c8f3;
--button-secondary-color-hover: #d21ebd;
--button-secondary-border: none;
--button-anchor-color: #f3c8ad;
--button-anchor-color-dark: #734922;
--button-anchor-color-light: #4c3016;
--button-anchor-color-hover: #f1bfa0;
--button-anchor-border: 1px solid #8c633c;
}

.z{
    visibility: hidden;
}

.bg-trans{
    background-color: transparent;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* body {
  background: #111;
} */
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.dark{
    background-color: rgba(0, 0, 0, .5);
    padding: 20rem;
    border-radius: 4rem;
}